*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Variables Decleration */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Playfair Display', serif;
  --clr-primary: #824936;
  --clr-secondary: #222c2a;
  --clr-light: #f3eed9;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--main-font);
  color: var(--clr-secondary);
  width: 100vw;
}

img {
  /* All images should be 100% of their parent container */
  width: 100%;
  /* Or we can use max-width so that they shrink as much as they want but they don't cause overflow */
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem; /* 16px */
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.container {
  width: 90%;
  max-width: 1128px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.content--colum {
  flex-direction: column;
}
.heading {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 3.6rem;
  color: var(--clr-primary);
}

.heading--light {
  color: var(--clr-light);
}

.text {
  font-size: 21px;
  text-align: start;

  line-height: 3rem;
  color: var(--clr-light);
}

.text--dark {
  color: var(--clr-secondary);
  width: 47%;
}

.image {
  width: 45%;
}

.hero {
  background-color: var(--clr-light);
  width: 100%;
  min-height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__container {
  width: 50%;
  text-align: center;
}

.hero__subtitle {
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.hero__title {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 6rem;
  color: var(--clr-primary);
}

.first {
  padding: 10rem 0;
  text-align: center;
}

.first__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.second {
  background-color: var(--clr-secondary);
  padding: 8rem;
}

.contend__second {
  width: 47%;
}

.image {
  width: 45%;
}

.third {
  background-color: var(--clr-primary);
  padding: 8rem;
}
