body {
  display: flex;
  flex-wrap: wrap;
}

div {
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  margin: 0.3em;
  height: 10em;
  width: 10em;
  flex-grow: 1;
}

div:nth-child(2n) {
  width: 15em;
}

div:nth-child(2n) {
  width: 14em;
}

div:nth-child(4n) {
  width: 12em;
}

div:nth-child(5n) {
  width: 7em;
}

div:nth-child(6n) {
  width: 20em;
}
